<% content_for :menu do %>
  <ul class='maintabmenu'><li class='current'><a href='javascript:void(0)'>Skills</a></li></ul>
<% end %>
  <div class="contenttitle radiusbottom0">
      <h2 class="editor"><span>Edit skill</span></h2>
    </div>
    <table cellspacing="0" cellpadding="0" border="0" class="stdtable">
      <colgroup>
          <col class="con0">
          <col class="con1">
          <col class="con0">
          <col class="con1">
          <col class="con0">
      </colgroup>
      <tbody>
          <tr>
              <td> <%= render "form" %>
          </td>

          </tr>


      </tbody>
    </table>    

