<div class="widgetbox">
  <div class="title"><h2 class="tabbed"><span>User Information</span></h2></div>
  <div class="widgetcontent announcement">
    <p>User Name: <%= @chat_user.name %> <br>
    Email:<%= @chat_user.email %><br>
    Credits: <%= @chat_user.credits %>    Bonus Credits:<%= @chat_user.bonus_credits %></p>
  </div><!--widgetcontent-->
</div>
