<div class="mainrightinner">
            	
  <div class="widgetbox">
    <div class="title">
      <h2 class="chart"><span>Versions</span></h2>
    </div>
    <div class="widgetcontent announcement">
      <p>
        <span class="radius2">July 19, 2012</span> <br>
        Spytap Android Version 2.1 Complete                        
      </p>
    </div>
    <!--widgetcontent-->
  </div><!--widgetbox-->
  <br clear="all">
  <div class="widgetbox">
  <div class="title">
    <h2 class="tabbed"><span>Download Data</span></h2></div>
  <div class="widgetcontent padding0">
    <ul class="activitylist">
      <li class="help"><a href=""><strong>PDF</strong><span></span></a></li>
        <li class="csv"><a href=""><strong>CSV</strong><span></span></a></li>
        <li class="xls"><a href=""><strong>XLS</strong><span></span></a></li>

    </ul>
  </div><!--widgetcontent-->
  </div><!--widgetbox-->
</div>