<header class="messages_header"> 
  <div class="new_message messages_left"> 
  <%= link_to "New Message", new_admin_message_path,:class=>"stdbtn" %> 
  </div> 
  <div class="messages_content stdform" > 
    <input placeholder="Search Messages"  type="search" >
  </div> 
</header>
